<ion-view title="Console">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="debugConsole padding">

        <div class="row">
            <div class="col">
                <button class="button button-assertive" type="button" ng-click="clearConsole()">
                    Clear console
                </button>
            </div>
        </div>

        <div ng-if="!logs">
            No action performed
        </div>

        <div ng-repeat="log in logs track by $index">
            <div class="row">
                <span class="italic">{{$index+1}}</span>. - {{log}}
            </div>
        </div>
    </ion-content>
</ion-view>