<ion-view title="WikiHere">

    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>

        <ui-gmap-google-map ng-if="Settings.showNearbyPlaces" center="map.center" zoom="map.zoom" ng-if="map" control="map.control">
        </ui-gmap-google-map>

        <div class="row">
            <div class="col">
                <button class="button button-balanced" ng-click="getInfo()" type="button">
                    Wiki here
                </button>
            </div>
        </div>

        <div class="card" ng-if="data.extracts.length > 0">
            <div class="item item-divider">
                Wikipedia
            </div>
            <div class="item item-text-wrap" ng-bind-html="data.extracts">
            </div>
        </div>

        <div class="list list-inset" ng-if="data.listSearch.length > 0">
            <div class="item item-divider">
                Could not find what you were looking for, did you mean one of these?
            </div>

            <div class="item" ng-repeat="item in data.listSearch" ng-click="getWikiExtracts(item)">
                {{item}}
            </div>

            <!--<div class="item item-divider" ng-if="Settings.showNearbyPlaces">-->
                <!--Google places nearby-->
            <!--</div>-->

            <!--<div class="item"-->
                 <!--ng-if="Settings.showNearbyPlaces"-->
                 <!--ng-repeat="item in data.searchResults.places"-->
                 <!--ng-click="getInfoFromResult(item.name)">-->
                <!--{{item.name}}-->
            <!--</div>-->
        </div>

        <div class="row" ng-if="data.noResult">
            No result
        </div>
    </ion-content>
</ion-view>