<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content>
        <ul class="list">
            <div class="item item-divider">
                App settings
            </div>

            <!--<li class="item item-toggle">-->
                <!--Show places nearby-->
                <!--<label class="toggle toggle-balanced">-->
                    <!--<input id="showPlacesNearby" type="checkbox" ng-model="Settings.showNearbyPlaces">-->
                    <!--<div class="track">-->
                        <!--<div class="handle"></div>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</li>-->

            <li class="item item-toggle">
                Show images
                <label class="toggle toggle-balanced">
                    <input id="showImages" type="checkbox" ng-model="Settings.showImages">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                Enable high accuracy GPS
                <label class="toggle toggle-balanced">
                    <input id="highAccuracy" type="checkbox" ng-model="Settings.highAccuracy">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>

        <ul class="list">
            <div class="item item-divider">
                Wikipedia locale
            </div>
            <ion-radio ng-model="Settings.wikiLocale" ng-value="'no'">Norwegian</ion-radio>
            <ion-radio ng-model="Settings.wikiLocale" ng-value="'en'">English</ion-radio>
        </ul>
    </ion-content>
</ion-view>